    <footer class="footer pt-2 pb-0 bg-dark text-white">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <p>Social media.</p>
                    <ul class="social-buttons mb-5 mb-lg-0">
                        <li>
                            <a href="https://github.com/ryba3310" aria-label="github social link" class="icon-white me-2">
                                <span class="fab fa-github"></span>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/michal1rybakowski1szn" class="icon-white" aria-label="linkedin social link">
                                <span class="fab fa-linkedin"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            <hr class="bg-secondary my-3 my-lg-5">
            </div>
    </footer>
