
    <header class="header-global">
        <nav id="navbar-main" aria-label="Primary navigation" class="navbar navbar-main navbar-expand-lg navbar-theme-primary headroom navbar-dark">
            <div class="container position-relative">
                <a class="navbar-brand me-lg-5" href="./">
                    <img class="navbar-brand-dark" src="/static/assets/img/brand/light.svg" alt="Logo light">
                    <img class="navbar-brand-light" src="/static/assets/img/brand/dark.svg" alt="Logo dark">
                </a>
                <div class="navbar-collapse collapse me-auto" id="navbar_global">
                    <div class="navbar-collapse-header">
                        <div class="row">
                            <div class="col-6 collapse-brand">
                                <a href="./">
                                    <img src="/static/assets/img/brand/dark.svg" alt="Themesberg logo">
                                </a>
                            </div>
                            <div class="col-6 collapse-close">
                                <a href="#navbar_global" class="fas fa-times" data-bs-toggle="collapse" data-bs-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" title="close" aria-label="Toggle navigation"></a>
                            </div>
                        </div>
                    </div>
                    <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
                        <li class="nav-item">
                            <a href="/" class="nav-link">Info</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" id="componentsDropdown" aria-expanded="false" data-bs-toggle="dropdown">
                                Services
                                <span class="fas fa-angle-down nav-link-arrow ms-1"></span>
                            </a>
                            <div class="dropdown-menu p-2" aria-labelledby="componentsDropdown">
                                <div class="row g-0">
                                    <div class="col ps-0 py-3">
                                        <ul class="list-style-none">
                                            <li><a class="dropdown-item" href="https://grafana.justalab.xyz">Grafana</a></li>
                                            <li><a class="dropdown-item" href="https://excalidraw.justalab.xyz">Excalidraw</a></li>
                                            <li><a class="dropdown-item" href="https://wastebin.justalab.xyz">Wastebin</a></li>
                                            <li><a class="dropdown-item" href="https://ots.justalab.xyz">One time secret (mTLS)</a></li>
                                            <li><a class="dropdown-item" href="https://vscode.justalab.xyz">VSCode (mTLS)</a></li>
                                            <li><a class="dropdown-item" href="https://guacamole.justalab.xyz">Guacamole (mTLS)</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a href="/search" class="nav-link">Movies Lookup</a>
                        </li><li class="nav-item">
                            <a href="dashboard.grafana.xyz" class="nav-link">Dashboard</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

